{% extends 'CmsMainBundle::layout.html.twig' %}         

{% block body %}

<script type="text/javascript" src="/js/ckeditor/ckeditor.js"></script>

<form action="{{ path('article_update', { 'id': entity.id, 'slug': entity.autoslag }) }}" method="post" {{ form_enctype(form) }}>
<div align="left"><span style="color:red; font-size:14px; font-weight:bold;">{{ form_errors(form) }}</span></div>
<table style="background-color:#fff;width:610px;">
        
         <tr>
            <td rowspan="2"><img src="/images/google.png" alt="" /></td>
            <td style="text-align:right;width:250px;">
                <input type="text" id="form_title" name="form[title]" required="required" maxlength="255" style="width:300px;font-weight:bold;
                    {% if form_errors(form.title) %} border:3px solid red; {% endif %}" value="{{ form.title.vars.value }}" />
            </td>
            <td style="text-align:left;"></td>
            <th style="text-align:left;color:black;">Title</th>
        </tr>       
        
        
        <tr>
            <td style="text-align:right;">
                <div align="left"><span style="color:red;">{{ form_errors(form.slag)}}</span></div>
                <input type="text" id="form_slag" name="form[slag]" required="required" maxlength="255" style="width:300px;
                    {% if form_errors(form.slag) %} border:3px solid red; {% endif %}" value="{{ form.slag.vars.value }}" />
            </td>
            <td style="text-align:left;">{{ form_widget(form.slagtrue, { 'attr': {} }) }}</td>
            <th style="text-align:left;color:black;">Activate manual URL</th>
        </tr>
        
        
        <tr>
            <td colspan="2" style="text-align:right; font-size:12px;color:gray;" id="autoslag">{{ entity.autoslag }}</td>
            <td style="text-align:left;"></td>
            <th style="text-align:left;color:black;">Last automaticaly generated URL</th>
        </tr>
</table>       


<div align="left"><span style="color:red; font-size:14px; font-weight:bold;">{{ form_errors(form.body)}}</span></div>
{{ form_widget(form.body, { 'attr': {'style': ''} }) }}
Created: {{ entity.publishDate|date("F jS \\a\\t g:ia") }}
<br /><br />

<button type="submit">Save</button>

<input type="hidden" name="form[autoslag]" value="{{ form.autoslag.vars.value }}">
{{ form_widget(form._token) }} 
</form>

<script type="text/javascript">

				


$j(document).ready(function() {

        $j("#maindiv").height('1500px'); 
        $j("#pic_35").attr('src','/_wp_generated/backg_1500px_glove.png');  
	
	$j('#form_slagtrue').change(function(){ 
          if (this.checked)
		     {$j("#form_slag").css({'color' : 'black', 'font-weight' : 'bold'}); 
			  $j('#autoslag').css({'color' : 'grey', 'font-weight' : 'lighter'});
			 }
		  else
			  {$j("#form_slag").css({'color' : 'grey', 'font-weight' : 'lighter'}); 
			   $j('#autoslag').css({'color' : 'black', 'font-weight' : 'bold'}); 
			  } 
   }); 
 
   if ($j("#form_slagtrue").is(":checked"))
		     {$j("#form_slag").css({'color' : 'black', 'font-weight' : 'bold'}); 
			  $j('#autoslag').css({'color' : 'grey', 'font-weight' : 'lighterl'});
			 } 
   else	     {$j("#form_slag").css({'color' : 'grey', 'font-weight' : 'lighter'}); 
			  $j('#autoslag').css({'color' : 'black', 'font-weight' : 'bold'}); 
			 } 


CKEDITOR.replace( 'form_body',
{ 
	filebrowserBrowseUrl : '/js/ckfinder/ckfinder.html',
	filebrowserImageBrowseUrl : '/js/ckfinder/ckfinder.html?type=Images',
	filebrowserFlashBrowseUrl : '/js/ckfinder/ckfinder.html?type=Flash',
	filebrowserUploadUrl : '/js/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Files',
	filebrowserImageUploadUrl : '/js/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Images',
	filebrowserFlashUploadUrl : '/js/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Flash',
	filebrowserWindowWidth : '1000',
	filebrowserWindowHeight : '700'
});

CKEDITOR.editorConfig = function( config )
{
	// Define changes to default configuration here. For example:
	  config.language = '{{locale}}';
	  config.width = "600px";
	// config.uiColor = '#AADC6E';
};

 
});



</script>

{% endblock %}

{% block help %}
   <p>This section lets edit the page content with CKEeditor. Images and other media can be uploaded by editor.</p>
   <br />
   <p>The first text box is a Title and, if check box is enabled, it is possible to enter the best URI extension to improve visibility for search engines.</p>
   <p>If "manual URL" is disabled the first 250 symbols will be taken from the top of the page and formatted as URI extension.</p>
   <br />
{% endblock %}