{% set ext = 'CmsMainBundle::layout.html.twig' %}

{% extends ext %}

{% block title %}
  {{ entity.title }}
{% endblock %}

{% block body %}
  {#
  {{auto}}
   <br />
  {{locale}}
   <br />
  {% trans %}source{% endtrans %}
   <br />
  {{vardate|date()}} 
  <br />
  #}
{% autoescape false %}
{{ entity.body }}
{% endautoescape %}
{% endblock %}

{% block help %}

  {% if is_granted('ROLE_SUPER_ADMIN') %} 
      <p>You are registered as a page Administrator.</p>
      <p>The administration panel is displayed at the left side corner.</p><br /> 
  {%else%}
      <p>
      To explore CMS log in by using demo credentials.<br />
      Login: <a href="http://{{ domain }}/login">{{ domain }}/login</a><br />
      Username: <span style="color:brown;">test</span><br />
      Password: <span style="color:brown;">test</span><br />   
      </p>
      <br />    
  {% endif %}
  
 <p>This view displays the page at the current stage of edition.</p>
 <br /> 
 <p>The left sidebar contains generated menus. Main menus are loading via HTML request, submenus, in this example, are loading asynchronously via Ajax.</p>
 <br />
 <p>The links to available language profiles are located on the top right corner.</p>  
{% endblock %}
