{% extends 'CmsMainBundle::layout.html.twig' %}

{% block body %}
    <div style="padding:30px;">
     <p style="font-weight:bold;font-size:14px;"> OOps, something went wrong... <p /> 
     <br />
     <p> &nbsp; &nbsp; {{ exception.message }} <p />
    </div>
{% endblock %}


