{% extends 'CmsMainBundle::layout.html.twig' %}

{% block body %}
<div style="padding:20px;">
To resset your password check the registration email {{ email }}
</div>
<br><br><br><br><br><br><br><br><br>

{% endblock %}
