{% extends 'CmsMainBundle::layout.html.twig' %}

{% block body %}
{% include "FOSUserBundle:Resetting:request_content.html.twig" %}
{% endblock body %}

{% block help %}

 <p>Enter the registered username to reset the password. Conformation email will be sent to the corresponding email address.</p>   
{% endblock %}