{% extends 'CmsMainBundle::layout.html.twig' %}
{% block body %}
{% set flag = 0 %} 


<h3>Menu</h3>
<br />

<table style="width:610px;">
    <tbody>
    {% for entity in entities %}
      {% if entity.langcode == locale %}
       {% if entity.article.id > 0 %}
        <tr>
            <td style="font-weight:bold;text-align:left;">{{ entity.name }}</td>
            <td><span style="font-size:10px;">{{ entity.article.publishDate|date("d/M/Y H:i:s") }}</span></td>
            
            <td>
               <a href="{{ path('cat1_edit', { 'id': entity.id }) }}" style="text-decoration:underline;">edit</a>
            </td>
            
            <td>{% if entity.active > 0 %}
                   <span style="color:red; font-size:10px;"> Active </span>
                {% endif %}
            </td>
            <td>
               <a href="{{ path('cat1_down', { 'id': entity.id } ) }}" ><img src="{{ asset('images/arrow_down_17.jpg') }}" alt="down" /></a>
            </td>
            <td>
               <a href="{{ path('cat1_up', { 'id': entity.id }) }}" ><img src="{{ asset('images/arrow_up_17.jpg') }}" alt="up" /></a>
            </td>
            <td></td>

        </tr>
        
        
        
        
      {% for cat2 in entity.cat2s %}
              <tr>
            <td style="text-align:left;font: 12px Arial, sans-serif;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ cat2.name }}</td>
            <td><span style="font-size:10px;">{{ cat2.article.publishDate|date("d/M/Y H:i:s") }}</span></td>
            
            <td>
               <a href="{{ path('cat2_edit', { 'id': cat2.id }) }}" style="text-decoration:underline;">edit</a>
            </td>
            
            <td>{% if cat2.active > 0 %}
                <span style="color:red;font-size:10px;"> Active </span>
                {% endif %}
            </td>
            <td>
               <a href="{{ path('cat2_down', { 'id': cat2.id, 'cat1Id': cat2.cat1.id }) }}" ><img src="{{ asset('images/arrow_down_17.jpg') }}" alt="down"  /></a>
            </td>
            <td>
               <a href="{{ path('cat2_up', { 'id': cat2.id, 'cat1Id': cat2.cat1.id }) }}" ><img src="{{ asset('images/arrow_up_17.jpg') }}" alt="up" /></a>
            </td>
            <td style="font-size:10px;">{% if cat2.ajaxtrue > 0 %} 
                   Ajax 
                {% endif %}
            </td>
              {% if cat2.cat3s|length > 0 %} {% set flag = 1 %} {% endif %}
                
            
        
        
        
        
        
        
        
        
        
              {% for cat3 in cat2.cat3s %}
              <tr>
            <td style="text-align:left;font: 10px Arial, sans-serif;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ cat3.name }}</td>
            <td><span style="font-size:10px;">{{ cat3.article.publishDate|date("d/M/Y H:i:s") }}</span></td>
            
            <td>
              <a href="{{ path('cat3_edit', { 'id': cat3.id }) }}" style="text-decoration:underline;">edit</a>
            </td>
            
            <td>{% if cat3.active > 0 %}
                   <span style="color:red;font-size:10px;"> Active </span>
                {% endif %}
            </td>
            <td>
              <a href="{{ path('cat3_down', { 'id': cat3.id, 'cat2Id': cat3.cat2.id }) }}" ><img src="{{ asset('images/arrow_down_17.jpg') }}" alt="down"  /></a>
            </td>
            <td>
              <a href="{{ path('cat3_up', { 'id': cat3.id, 'cat2Id': cat3.cat2.id }) }}" ><img src="{{ asset('images/arrow_up_17.jpg') }}" alt="up" /></a>
            </td>
            <td style="font-size:10px;">{% if cat3.ajaxtrue > 0 %}
                   Ajax                
                {% endif %}
            </td>
        </tr>
      {% endfor %}
      {% endfor %}    
        
      {% endif %}
      {% endif %}
      
      {% endfor %}
    </tbody>
</table>

{% endblock %}

{% block help %}
   <p>The list of all menus and sub-menus.</p>
   <br />
   <p>By pressing yellow arrows it is possible to change menu position. By pressing link "edit" it is possible to update menu appearance or delete it.</p><br />
   <p>Link "Active" represents menu status (it is visible or hidden).</p><br />
   <p> "Ajax" represents if menu is loaded asynchronously. To improve SEO, asynchronous page load is allowed only from sub-menus. ENABLED WHEN LOGGED OUT ONLY.</p>
{% endblock %}