{% block sidebar %}



{#       <!--> Menu in edit mode if SUPER_ADMIN --> 

{% if is_granted('ROLE_SUPER_ADMIN') %}
    {% set route = 'article_edit' %}
{% else %}
    {% set route = 'article_show' %}  
{% endif %}

#}

{#       <!--> Menu mode -->       #}

{% set route = 'article_show' %}


<div id="lselect">	


{#       <!--> Menu -->       #}

<ul>
{% for entity in entities %}
{% if entity.langcode == locale %}
  <li>
      <a href="
          {% if entity.article.slagtrue != '1' %}
            {{ url(route, { 'slug': entity.article.autoslag, 'id': entity.article.id }) }}
          {% else %}
             {{ url(route, { 'slug': entity.article.slag, 'id': entity.article.id }) }} 
          {% endif %}   
       " style="
          {% if  path(route, { 'slug': entity.article.autoslag, 'id': entity.article.id }) ==  path or 
                 path(route, { 'slug': entity.article.slag, 'id': entity.article.id }) ==  path %}
                    font-weight:bold;
          {% endif %}
          {{ entity.design }}
       ">{{ entity.name }}</a> 
  
  
 
 
 
{#      <!--> Submenu 2 -->      #} 
  
            {% if entity.cat2s|length > 0 %}
              <ul id="lselect1">
                {% for cat2 in entity.cat2s  %}
                  {% if cat2.active > 0 %}
                  {% if cat2.ajaxtrue > 0 and is_granted('ROLE_SUPER_ADMIN') == false %}
                      <li>
                        <a href="#" onClick="return false" onMouseDown="javascript:swapContent('con1',    
                           {% if cat2.article.slagtrue != '1' %}
                              '{{ url('article_show_ajax', { 'slug': cat2.article.autoslag, 'id': cat2.article.id }) }}'
                           {% else %}
                              '{{ url('article_show_ajax', { 'slug': cat2.article.slag, 'id': cat2.article.id }) }}' 
                           {% endif %}
                           ,'{{ cat2.article.title }}');" 
             
                          style="
                           {% if  path(route, { 'slug': cat2.article.autoslag, 'id': cat2.article.id }) ==  path or 
                           path(route, { 'slug': cat2.article.slag, 'id': cat2.article.id }) ==  path %}
                            font-weight:bold;
                           {% endif %}
                           {{ cat2.design }}"             
                         >{{ cat2.name }}</a>
                  {% else %}	      
                       <l1>
                         <a href="	
                           {% if cat2.article.slagtrue != '1' %}
                              {{ url(route, { 'slug': cat2.article.autoslag, 'id': cat2.article.id }) }}
                           {% else %}
                              {{ url(route, { 'slug': cat2.article.slag, 'id': cat2.article.id }) }} 
                           {% endif %}   
                         " style="
                           {% if  path(route, { 'slug': cat2.article.autoslag, 'id': cat2.article.id }) ==  path or 
                           path(route, { 'slug': cat2.article.slag, 'id': cat2.article.id }) ==  path %}
                           font-weight:bold;
                           {% endif %}
                           {{ cat2.design }}
                         ">{{ cat2.name }}</a>
       
                  {% endif %}
          
          
          
          
          
          
          
          
          
          
{#      <!--> Submenu 3 -->      #}          
          
                  {% if cat2.cat3s|length > 0 %}
                      <ul id="lselect2">
                         {% for cat3 in cat2.cat3s %}
                           {% if cat3.active > 0 %}
                           {% if cat3.ajaxtrue > 0 and is_granted('ROLE_SUPER_ADMIN') == false %}
                               <li>
                                 <a href="#" onClick="return false" onMouseDown="javascript:swapContent('con1',    
                                   {% if cat3.article.slagtrue != '1' %}
                                      '{{ url('article_show_ajax', { 'slug': cat3.article.autoslag, 'id': cat3.article.id }) }}'
                                   {% else %}
                                      '{{ url('article_show_ajax', { 'slug': cat3.article.slag, 'id': cat3.article.id }) }}' 
                                   {% endif %}
                                   ,'{{ cat3.article.title }}');" 
             
                                 style="
                                   {% if  path(route, { 'slug': cat3.article.autoslag, 'id': cat3.article.id }) ==  path or 
                                   path(route, { 'slug': cat3.article.slag, 'id': cat3.article.id }) ==  path %}
                                   font-weight:bold;
                                   {% endif %}
                                   {{ cat3.design }}"             
                                 >{{ cat3.name }}</a>
                           {% else %}	      
                               <l1>
                                 <a href="	
                                  {% if cat3.article.slagtrue != '1' %}
                                        {{ url(route, { 'slug': cat3.article.autoslag, 'id': cat3.article.id }) }}
                                  {% else %}
                                        {{ url(route, { 'slug': cat3.article.slag, 'id': cat3.article.id }) }} 
                                  {% endif %}   
                                " style="
                                  {% if  path(route, { 'slug': cat3.article.autoslag, 'id': cat3.article.id }) ==  path or 
                                  path(route, { 'slug': cat3.article.slag, 'id': cat3.article.id }) ==  path %}
                                  font-weight:bold;
                                  {% endif %}
                                  {{ cat3.design }}
                                ">{{ cat3.name }}</a>
       
                              {% endif %}            
                              {% endif %}                   
                           {% endfor %}
                         </ul>
                    {% endif %}
              </li>
          {% endif %}	
        {% endfor %}
      </ul>
   {% endif %}	
  </li> 
{% endif %}	
{% endfor %}
</ul>




</div>




{#          <!--> JS Ajax -->         #}

<script language="JavaScript" type="text/javascript">
<!--
function swapContent(cv, url, title) {

    document.title = title;

    $j("#preamble").html('<center>Loading...</ center>').show();
    $j.post(url, {contentVar: cv} ,function(data) {
       $j("#preamble").html(data).show();
    });
	
    $j("#help").html('<center>Loading...</ center>').show();
    $j.post(url, {contentVar: cv} ,function(data) {
       $j("#help").html(data).show();
    });
}
//-->
</script>


{% endblock %}