{% extends 'CmsMainBundle::layout.html.twig' %}

{% block body %}
   <div style="padding:20px;">
    <p>Registration conformed</p>
    {% if app.session is not empty %}
        {% set targetUrl = app.session.get('_security.target_path') %}
        {% if targetUrl is not empty %}<p><a class="admin" href="{{ targetUrl }}">Back</a></p>{% endif %}
    {% endif %}
   </div>
{% endblock body %}
