{% extends 'CmsMainBundle::layout.html.twig' %}

{% block body %}

{% block fos_user_content %}
{% include "FOSUserBundle:Registration:register_content.html.twig" %}
{% endblock fos_user_content %}

{% endblock %}

{% block help %}

   <p>Enter user details.</p>
   <p>At the next step email will be sent to confirm the registration.</p>

{% endblock %}