{% extends 'CmsMainBundle::layout.html.twig' %}


{% block body %}

<h3>Edit photo:</h3>
<br />

<link href="/css/bootstrap/css/bootstrap.min.css" type="text/css" rel="stylesheet" />

<style>
li {color:red;}
</style>

<form action="{{ path('document_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
        <input type="submit" value="Save" style="width:100px;" />
</form>


<form action="{{ path('document_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <input type="submit" value="Delete" style="width:100px;" />
        </form>

{% endblock %}

{% block help %}
   <p>File information can be changed or file deleted.</p>
{% endblock %}