{% extends 'CmsMainBundle::layout.html.twig' %}

{% block body %}

<link href="/css/bootstrap/css/bootstrap.min.css" type="text/css" rel="stylesheet" />

<script language="javascript">
    $j(document).ready(function() {
        $j("#maindiv").height('1500px'); 
        $j("#pic_35").attr('src','/_wp_generated/backg_1500px_glove.png');  
    });
</script>


<h3>Upload File</h3>

<form action="#" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form)}}

    <input type="submit" value="Upload Document" />
</form>


<div style="width:610px">"
    {% for entity in entities %}
      {% if entity.title %} 
   
              {% set photo_path = '/uploads/documents/'~entity.path %}
          
              <div style="float:left; padding:10px;position:relative;">
                 <img src="{{ photo_path | apply_filter('my_thumb') }}" />                                 
                 &nbsp;
                 <a href="{{ path('document_edit', { 'id': entity.id }) }}" style="text-decoration:underline;">edit</a>
              </div>

      {% endif %}
   {% endfor %}
</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

{% endblock %}


{% block help %}
   <p>File, along with the Title and Body information, can be uploaded here.</p>
   <br />
   <p>Link "edit" redirects to the page where file information can be mended</p>
{% endblock %}