<!DOCTYPE html>
<html>

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   
    <title>{% block title %}{% endblock %}</title>   
    
    
    
    {% stylesheets
      '@CmsMainBundle/Resources/public/css/style.css'
    %}
   
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />          
    {% endstylesheets %}	
    
    
    
    
    {% javascripts
      '@CmsMainBundle/Resources/public/js/jquery-min.js'
    %}
        
    <script src="{{ asset_url }}"></script>

    {% endjavascripts %}
    
    
    
</head>

<body>

  {% if is_granted('ROLE_SUPER_ADMIN') %} 
       <div> 
         {% render "CmsMainBundle:Admin:admin" %}
       </div>
  {% endif %}
  
<div id="container">

 <div id="helper">
 
   {% block help%}{% endblock %}
   
 </div>


	<div id="intro">
		<div id="pageHeader">
        
                 

			<h1><span style="position:absolute; right: 30px; top: 25px;">Raitis Cerkasovs</span></h1>
			<h2><span style="position:absolute; right: 30px; top: 64px;">CMS driven by Symfony 2</span></h2>
			<h4><span style="position:absolute; right: 30px; top: 5px;">{% render "CmsMainBundle:Lang:sidebarLang" %}</span></h4>

		</div>
        
		<div id="preamble">
            
            {% block body%}{% endblock %}
            
		</div>
        
        <div id="footer">
        
            Copyright

        </div>
        
	</div>



	<div id="linkList">
		<div id="linkList2">
        			                
                 {% render "CmsMainBundle:Cat1:sidebar" %}			           
            
            
			<div id="larchives">
              
            {#       <!--> Archives menu
				<h3 class="archives"><span>Archives</span></h3>
				<ul>
					<li><a href="">Lorem Ipsum</a></li>
					<li><a href="">Lorem Ipsum</a></li>
					<li><a href="">Lorem Ipsum</a></li>
					<li><a href="">Lorem Ipsum</a></li>
				</ul>
            --> #}
            
			</div>           
            
            
            
		</div>
	</div>


</div>
</body>