{% extends 'CmsMainBundle::layout.html.twig' %}


{% block body %}
<h3>Add role</h3>
<br />
<form action="{{ path('crud_user_add_role_save', { 'id': entity.id }) }}" method="post" >

<table class="admin">


        
        
        
         <tr>
            <th style="text-align:right;">Userame</th>
            <td style="text-align:left;">
                {{ entity.username }}       
            </td>
        </tr>       
        
        
        
          <tr>
            <th style="text-align:right;">Email</th>
            <td style="text-align:left;">
                {{ entity.email }}       
            </td>
        </tr> 
        
        
        
        
          <tr>
            <th style="text-align:right;">Role</th>
            <td style="text-align:left;">

       <select id="choice" name="choice" required="required"    style="width:200px;">
         <option value="ROLE_USER">User</option>
         <option value="ROLE_ADMIN">Admin</option>
         <option value="ROLE_SUPER_ADMIN">Super admin</option>
        </select>

            </td>
          </tr>    
    
</table>
<br /><br />
   
   
   


<button type="submit">Save</button>
</form>

{% endblock %}
