{% extends 'CmsMainBundle::layout.html.twig' %}


{% block body %}
<h3>Users</h3>
<br />

<table style="width:610px;">
    <tbody>
    
          <tr>
            <th style="color:grey;">Username</th>
            <th style="color:grey;">Email</th>
            <th style="color:grey;">Lastlogin</th>
            <th></th>
          </tr>


   {% for entity in entities %}
        <tr>
            <td>{{ entity.username }}</td>
            <td>{{ entity.email }}</td>         
            <td style="font-size:10px;">{% if entity.lastLogin %}{{ entity.lastLogin|date("d/M/Y H:i:s") }}{% endif%}</td>
            <td><a href="{{ path('crud_user_edit', { 'id': entity.id }) }}" style="text-decoration:underline;">edit</a></td>
        </tr>
     {% endfor %}
</table>       


<p><a href="{{ path('fos_user_registration_register') }}" style="text-decoration:underline;">Create a new user</a></p>

<br><br><br><br><br><br><br><br><br>

{% endblock %}

{% block help %}

   <p>List of registered users.</p>
   <p>"Create a new user" link to add user.</p>
   <p>"edit" link to edit user.</p>

{% endblock %}