<h1>User</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Username</th>
            <td>{{ entity.username }}</td>
        </tr>
        <tr>
            <th>Usernamecanonical</th>
            <td>{{ entity.usernameCanonical }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ entity.email }}</td>
        </tr>
        <tr>
            <th>Emailcanonical</th>
            <td>{{ entity.emailCanonical }}</td>
        </tr>
        <tr>
            <th>Enabled</th>
            <td>{{ entity.enabled }}</td>
        </tr>
        <tr>
            <th>Algorithm</th>
            <td>{{ entity.algorithm }}</td>
        </tr>
        <tr>
            <th>Salt</th>
            <td>{{ entity.salt }}</td>
        </tr>
        <tr>
            <th>Password</th>
            <td>{{ entity.password }}</td>
        </tr>
        <tr>
            <th>Lastlogin</th>
            <td>{{ entity.lastLogin|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Locked</th>
            <td>{{ entity.locked }}</td>
        </tr>
        <tr>
            <th>Expired</th>
            <td>{{ entity.expired }}</td>
        </tr>
        <tr>
            <th>Expiresat</th>
            <td>{{ entity.expiresAt|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Confirmationtoken</th>
            <td>{{ entity.confirmationToken }}</td>
        </tr>
        <tr>
            <th>Passwordrequestedat</th>
            <td>{{ entity.passwordRequestedAt|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Roles</th>
            <td>{{ entity.roles }}</td>
        </tr>
        <tr>
            <th>Credentialsexpired</th>
            <td>{{ entity.credentialsExpired }}</td>
        </tr>
        <tr>
            <th>Credentialsexpireat</th>
            <td>{{ entity.credentialsExpireAt|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ entity.name }}</td>
        </tr>
        <tr>
            <th>Surname</th>
            <td>{{ entity.surname }}</td>
        </tr>
        <tr>
            <th>Address</th>
            <td>{{ entity.address }}</td>
        </tr>
        <tr>
            <th>Active</th>
            <td>{{ entity.active }}</td>
        </tr>
        <tr>
            <th>Position</th>
            <td>{{ entity.position }}</td>
        </tr>
        <tr>
            <th>Design</th>
            <td>{{ entity.design }}</td>
        </tr>
        <tr>
            <th>Temp1</th>
            <td>{{ entity.temp1 }}</td>
        </tr>
        <tr>
            <th>Temp2</th>
            <td>{{ entity.temp2 }}</td>
        </tr>
        <tr>
            <th>Temp3</th>
            <td>{{ entity.temp3 }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('crud_user') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('crud_user_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('crud_user_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
