{% extends 'CmsMainBundle::layout.html.twig' %}


{% block body %}
{% autoescape false %}


<div style="padding:20px;">
Thankyou for registration </br>
You have to confirm registration email 
</div>

<br /><br /><br /><br /><br /><br /><br /><br />

{% endautoescape %}
{% endblock %}
