<link type="text/css" href="/css/hot-sneaks/jquery-ui-1.8.18.custom.css" rel="stylesheet" />	
<script type="text/javascript" src="/js/jquery-ui-1.8.18.custom.min.js"></script>
<script type="text/javascript">
			
			$j(function(){
	
				// Dialog			
				$j('#dialog').dialog({
					autoOpen: true,
					width: 250,
                    position: [10,10],
					draggable: true
				});
			
				//hover states on the static widgets
				$j('#dialog_link, ul#icons li').hover(
					function() { $(this).addClass('ui-state-hover'); }, 
					function() { $(this).removeClass('ui-state-hover'); }
				);
				
			});
</script>
        
<style type="text/css">

div#dialog {	
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	}
	

</style>

<div id="dialog" title="Admin Menu">

<br><p><span style="color:black;">Registered: <strong>{{ app.user.name }} {{ app.user.surname }}</strong></span></p>


<br><p><span style="color:black;">Edit Menus:</span></p>
    <p><a href="{{ url('cat1_new')}}" style="padding:10px">Add menu</a></p>
    <p><a href="{{ path('cat2_new') }}" style="padding:10px">Add 1st level submenu</a></p>
    <p><a href="{{ path('cat3_new') }}" style="padding:10px">Add 2nd level submenu</a></p>
    <p><a href="{{ url('cat1')}}" style="padding:10px">List, Order, Edit, Activate</a></p>
   
<br><p><span style="color:black;">Edit Pages:</span></p>
  {% for entity in entities %}
    {% if entity.langcode == locale %}
           <p><a href="{{ path('article_edit', { 'slug': 'slug', 'id': entity.article.id }) }}" style="padding:10px">{{ entity.name }}</a></p>
           
           {% for cat2 in entity.cat2s %}
           <p><a href="{{ path('article_edit', { 'slug': 'slug', 'id': cat2.article.id }) }}" style="padding:10px;margin-left:10px;">{{ cat2.name }}</a></p>
         
                 {% for cat3 in cat2.cat3s %}
                 <p><a href="{{ path('article_edit', { 'slug': 'slug', 'id': cat3.article.id }) }}" style="padding:20px;margin-left:10px;">{{ cat3.name }}</a></p>
                 {% endfor %}         
         
           {% endfor %}         
           
    {% endif %} 
  {% endfor %}
 
<br><p><span style="color:black;">Edit Languages:</span></p>
    <p><a href="{{ url('lang_new')}}" style="padding:10px">Add language</a></p>
    <p><a href="{{ url('lang')}}" style="padding:10px">List, Order, Edit, Activate</a></p>        

<br><p><span style="color:black;">Utilities:</span></p>
    <p><a href="{{ url('document_upload')}}" style="padding:10px;">File upload</a></p>
    <p><a href="{{ url('external')}}" style="padding:10px;">External menus</a></p>
    <p><a href="{{ url('crud_user')}}" style="padding:10px;">Users</a></p>
   
<br><p><span style="color:black;">Logout:</span></p>
    <p><a href="{{ url('fos_user_security_logout')}}" style="padding:10px;">Exit</a></p>

 </div>