{% extends 'CmsMainBundle::layout.html.twig' %}


{% block body %}

<h3>Languages</h3>
<br />
Automaticly discover users Regional and Language settings: &nbsp;
<br />
<br />

{% if entity_util.active > 0 %}
  <span style="color:green; font-size:10px;">Active</span>
{% else %}
  <span style="color:red; font-size:10px;">Disactivated</span>
{% endif %}
&nbsp;
<a href="{{ path('lang_change_def') }}" style="text-decoration:underline;">change</a>
<br />
_____________________________________________________________
<br />
<table style="width:300px;">
    <thead>
        <tr>
            <th>Display</th>
            <th></th>
            <th></th>
            <th>Down</th>
            <th>Up</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.name }}</td>
            <td>{{ entity.country }}</td>
            <td>{% if entity.active > 0 %}
                  <span style="color:green; font-size:10px;">Active</span>
                {% endif %}
            </td>
            <td>
               <a href="{{ path('lang_down', { 'id': entity.id }) }}" ><img src="{{ asset('images/arrow_down_17.jpg') }}" alt="down" /></a>
            </td>
            <td>
               <a href="{{ path('lang_up', { 'id': entity.id }) }}" ><img src="{{ asset('images/arrow_up_17.jpg') }}" alt="up" /></a>
            </td>
            <td>
               <a href="{{ path('lang_edit', { 'id': entity.id }) }}" style="text-decoration:underline;">edit</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul class="admin">
    <li>
        <a href="{{ path('lang_new') }}" style="text-decoration:underline;">
            Create a new language
        </a>
    </li>
</ul>


{% endblock %}

{% block help %}

   <p>List of available languages. Menus are independent and are not visible between different languages (every language can make different unrelated set of pages).</p>
   <br />
   <p>Link "Active" represents visible languages. Yellow arrows are changing position in the sidebar.</p><br />
   <p>Link "change" activating or dis-activating automatic language detection according on client browser regional settings.</p><br />
   <p>Link "edit" changes existing languages.</p><br />
   <p>Link "Create a new language" adds language.</p>

{% endblock %}