{% extends 'CmsMainBundle::layout.html.twig' %}


{% block body %}
<h3>Languages</h3>
<br />
<form action="{{ path('lang_create') }}" method="post" {{ form_enctype(form) }}>

{% if form_errors(form.country) %} 
   {% set foo = 'border:3px solid red;width:200px;' %} 
{% else %}
   {% set foo = 'width:200px;' %} 
{% endif %}



<table class="admin">
        <tr>
            <th style="text-align:right;">Display name</th>
            <td style="text-align:left;">
                <span style="color:red;">{{ form_errors(form.name)}}</span> 
                <input type="text" id="form_name" name="form[name]" required="required" maxlength="255" style="width:200px;
                {% if form_errors(form.name) %} border:3px solid red; {% endif %}" value="{{ form.name.vars.value }}" />            
            </td>
        </tr>
        <tr>  
            <th style="text-align:right;">Country</th>
            <td style="text-align:left;">
            <span style="color:red;">{{ form_errors(form.country)}} </span>
            <div style="{{foo}}">
             {{ form_widget(form.country, { 'attr': {'style': foo} }) }}
            <div />
            </td>
        </tr>
        <tr>  
            <th style="text-align:right;">Active</th>
            <td style="text-align:left;">{{ form_widget(form.active, { 'attr': {} }) }}</td>
        </tr>
</table>
<br /><br />
        <button type="submit">Create</button>
{{ form_widget(form._token) }}    
</form>

{% endblock %}


{% block help %}

   <p>Display name - name appearing on the sidebar.</p><br />
   <p>Country - list of countries with language locales.</p><br />
   <p>Check-box "Active" - enable or disable language</p>

{% endblock %}