{% block sidebarLang %}

 {% for entity in entities %}
   <a href="{{ path('lang_set', { 'code': entity.code }) }}" style="  
          {% if entity.code == locale %}
            font-weight:bold;
            color:brown;
          {% endif %}  
   ">{{ entity.name }}&nbsp;|</a>
 {% endfor %}

{% endblock %}